.env
my-plugins

gh/hosts
!gh/hosts.template

config/.config/gh/hosts
config/.config/gh/hosts.yml
config/home/zsh/antigen.sh.zwc
.DS_Store
config/.config/nvim/db.config.vim
.aider*
config/home/scripts/setup-quasar-docs.sh
config/tmux-client-49213.log
