.env
my-plugins

gh/hosts
!gh/hosts.template

config/.config/gh/hosts
config/.config/gh/hosts.yml
config/home/zsh/antigen.sh.zwc
.DS_Store
config/.config/nvim/db.config.vim
.aider*
config/home/scripts/setup-quasar-docs.sh
config/tmux-client-49213.log
config/home/code/vicinae-extensions/wifi-manager/node_modules
config/home/code/vicinae-extensions/audio-manager/node_modules
config/home/code/vicinae-extensions/node_modules
config/home/code/vicinae-extensions/audio-manager/package-lock.json
config/home/code/vicinae-extensions/audio-manager/package-lock.json
config/home/code/vicinae-extensions/audio-manager/yarn.lock
config/home/code/vicinae-extensions/audio-manager/yarn.lock
config/home/code/vicinae-extensions/node_modules
config/home/code/vicinae-extensions/wifi-manager/package-lock.json
config/home/code/vicinae-extensions/yarn.lock
config/home/code/vicinae-extensions/package-lock.json
config/home/code/vicinae-extensions/audio-manager/yarn.lock
config/home/code/vicinae-extensions/audio-manager/yarn.lock
config/home/code/vicinae-extensions/screen-recorder-and-image/node_modules
config/.config/eww/gmail-credentials.json
config/.config/eww/gmail-token.json
