[Desktop Entry]
Name=Wi-Fi Menu (Iwmenu)
Comment=Launch Iwmenu for Wi-Fi device control via Walker
Exec=iwmenu -l walker
Icon=network-wireless
Terminal=false
Type=Application
Categories=Network;Utility;

