* {
  font-size: 9px;
  font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
  all: unset;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 2px 4px;
  margin: 0 0 0 4px;
  border-radius: 6px;
  background: alpha(@background, .6);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .4);
}

.modules-center {
  margin: 0;
}

.modules-right {
  margin: 0 4px 0 0;
}

tooltip {
  background: @background;
  color: @color7;
}

#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature,
#group-expand,
#custom-expand,
#custom-colorpicker,
#tray {
  padding: 0 4px;
  transition: all .3s ease;
  color: @color7;
}

#custom-notification:hover,
#clock:hover,
#custom-pacman:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: @color9;
}

#workspaces {
  padding: 0 4px;
}

#workspaces button {
  all: unset;
  padding: 0 4px;
  color: alpha(@color9, .4);
  transition: all .2s ease;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: @color9;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @color9;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-expand {
  color: alpha(@foreground, .2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
}

#custom-expand:hover {
  color: rgba(255, 255, 255, .2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray menu * {
  padding: 0 4px;
  transition: all .3s ease;
}

#tray menu separator {
  padding: 0 4px;
  transition: all .3s ease;
}
